<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:component>
        <h:form id="form">  

            <style>
                td
                {
                    padding:0 15px 0 15px;
                }
            </style>
            <table>
                <thead>
                    <tr>
                        <th colspan="2">
                            Seleccionar o crear camarero 
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <c:if test="${camareroController.camareros.size() > 0}">
                                <p:outputLabel for="basic" value="Seleccione el camarero" />
                                <p:selectOneListbox id="basic" 
                                                    value="#{camareroController.camareroSelected}"
                                                    immediate="true"    
                                                    converter="omnifaces.SelectItemsConverter">
                                    
                                    <p:ajax process="basic" update="@this toupdate toupdate2"/>
                                    
                                    <f:selectItems value="#{camareroController.camareros}" var="camareroSelected" itemLabel="#{camareroSelected.nombre}" itemValue="#{camareroSelected}" />
                                    
                                </p:selectOneListbox>

                                <h:outputText id="toupdate" value=">#{camareroController.camareroSelected.idCamarero}" />
                                
                                <p:commandButton id="toupdate2" value="Seleccionar" type="button">
                                    <f:ajax listener="#{facturaController.setIdCamarero(camareroController.camareroSelected )}"/>
                                    <f:setPropertyActionListener target="idCamarero" value="toupdate"/>
                                </p:commandButton>

                            </c:if>
                        </td>
                        <td>
                            <table >
                                <tbody>
                                    <tr>
                                        <td>
                                            <h:outputLabel>Nombre:</h:outputLabel>
                                        </td>
                                        <td>
                                            <h:inputText value="#{camareroController.camarero.nombre}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h:outputLabel>Primer apellido:</h:outputLabel>
                                        </td>
                                        <td>
                                            <h:inputText value="#{camareroController.camarero.apellido1}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h:outputLabel>Segundo apellido:</h:outputLabel>
                                        </td>
                                        <td>
                                            <h:inputText value="#{camareroController.camarero.apellido2}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <p:commandButton value="Guardar" actionListener="#{camareroController.createCamarero()}" update="@form">
                                            </p:commandButton>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </h:form>
    </ui:component>
</html>
