<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Facelet Title</title>

    </h:head>
    <h:body>
        <h:form id="form">  

            <style>
                td
                {
                    padding:0 15px 0 15px;
                }
            </style>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <c:if test="${camareroController.camareros.size() > 0}">
                                <p:outputLabel for="basic" value="Seleccione el camarero" />
                                <p:selectOneListbox id="basic" 
                                                    value="#{camareroController.camareroSelected}"
                                                    immediate="true"    
                                                    converter="omnifaces.SelectItemsConverter"
                                                    valueChangeListener="#{camareroController.sels}">

                                    <f:selectItems value="#{camareroController.camareros}" 
                                                   var="camareroSelected" 
                                                   itemLabel="#{camareroSelected.nombre}" 
                                                   itemValue="#{camareroSelected}" />

                                    <p:ajax process="basic" update="@this form" />

                                </p:selectOneListbox>


                            </c:if>
                        </td>
                        <td>
                            <p:outputPanel id="toupdate">
                                <table border="0" >
                                    <thead>
                                        <tr>
                                            <th>Mes</th>
                                            <th>Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ui:repeat value="#{camareroController.ventas}" var="total">
                                            <tr>
                                                <td>#{total.mes}</td>
                                                <td><p:inputNumber value="#{total.cantidad}" readonly="true"/></td>
                                            </tr>
                                        </ui:repeat>
                                    </tbody>
                                </table>
                            </p:outputPanel>

                        </td>
                    </tr>
                </tbody>
            </table>
        </h:form>
    </h:body>
</html>
